<div>
    <h3>@nameof(AccessTree.CRMActions)</h3>
    <ul>
        <li>
            <span>@nameof(AccessTree.CRMActions.Sales): </span>
            <label>
                Read
                <input type="checkbox" @bind-value=AccessTree.CRMActions.Sales.Read
                       checked="@AccessTree.CRMActions.Sales.Read" />
            </label>

            <label>
                Write
                <input type="checkbox" @bind-value=AccessTree.CRMActions.Sales.Write
                       checked="@AccessTree.CRMActions.Sales.Write" />
            </label>

            <label>
                Delete
                <input type="checkbox" @bind-value=AccessTree.CRMActions.Sales.Delete
                       checked="@AccessTree.CRMActions.Sales.Delete" />
            </label>
        </li>

        <li>
            <span>Sales Discount Value: </span>
            <input type="text" @bind-value=AccessTree.CRMActions.SalesDiscountValue />
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public ActionTreeDto AccessTree { get; set; } = new();
}
