<div>
    <h3>@nameof(AccessTree.CRMActions)</h3>
    <ul>
        <li>
            <span>@nameof(AccessTree.CRMActions.Sales): </span>
            <label>
                Read
                <input type="checkbox" checked="@AccessTree.CRMActions.Sales.Read" disabled />
            </label>

            <label>
                Write
                <input type="checkbox" checked="@AccessTree.CRMActions.Sales.Write" disabled />
            </label>

            <label>
                Delete
                <input type="checkbox" checked="@AccessTree.CRMActions.Sales.Delete" disabled />
            </label>
        </li>

        <li>
            <span>Sales Discount Value: </span>
            <span>@AccessTree.CRMActions.SalesDiscountValue</span>
        </li>
    </ul>
</div>

@code {
    [Parameter]
    public ActionTreeDto AccessTree { get; set; }
}
